{ margin: 0; padding: 0; }

html { 
    background: url('img/lGHpt8N.gif') no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
